
.send,.send_long{
    position: relative;
    background: none;
    font-weight: 600;
    z-index: 1;
    cursor: pointer;
    font-size: 16px;
    line-height: 22px;
    color: #2B2B2B;
    margin-left: 18px;
}
.send::before,.send_long::before{
    position: absolute;
    z-index: -1;
    content: "";
    top:-12px;
    left: -19px;
    opacity: .83;
    width: 46px;
    height: 46px;
    border-radius: 46px;
    background: #FFC5C5;
    transition: 0.4s;
}
.send:hover:before{
    width: 185px;
}
.send::after,.send_long::after{
    content:"";
    position: absolute;
    left: 125px;
    top:12px;
    width: 24px;
    height: 1px;
    background: #2B2B2B;
}
.send_long{
    margin-top: 30px;
    margin-left: 21px;
    position: relative;
}
.send_long::after{
    left: 135px;
}
.send_long:hover:before{
    width: 195px;
}

p{
    margin: 0;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #2B2B2B;
}
h1{
    margin: 0;
}
a{
    cursor: pointer;
    font-weight: 500;
    font-size: 14px;
    color: #2B2B2B;
}
a:hover{
    color: #FFC5C5;
}
input{
    border: none;
    border-bottom: 1px solid #FFC5C5;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    width: 400px;
    color: #7F7F7F;
    margin-bottom: 27px;
}
input:focus{
    outline: none;
}

body{
    background: #ffffff;
    width:100%;
    margin: 0;
    font-family: Monsteratt;
    font-style: normal;
}
.container{
    width: 100%;
    max-width: 1440px;
    min-width: 340px;
    margin: 0 auto;
}
*,*::before,*::after{
    box-sizing: border-box;
}
header{
    display: flex;
    align-items: center;
}
header ul{
    display: flex;
    list-style: none;
    margin-right: auto;
}
header li{
    margin-right: 40px;
}
header>p{
    color: #7F7F7F;
    margin: 13px;
    padding-right:26px ;
}
header .address{
    border-right: 1px solid #c4c4c4;
}

.main_description{
    display: flex;
    flex-direction: column;
    background: #F9F9F9;
    border-radius: 5px;
    margin-right: auto;
}
.main_description .name_photo{
    display: flex;
}
.main_description .description{
    z-index: 10;
    margin: auto 0 auto 100px;
    width: 701px;
}
.main_description .description .name{
    width: 200px;

}
.main_description .description .name h1{

    border-bottom: 1px solid #c4c4c4;
    padding-bottom: 3px;
}
.main_description .description .name p{
    margin-top: 5px;
    font-size: 21px;
    line-height: 22px;
    color: #000000;
}
.main_description .description .mirrors{
    margin-top: 25px;
    font-family: Playfair Display;
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 80px;
    color: #2B2B2B;
    white-space: nowrap;
    z-index: 2;
}
.mirrors_description{
    margin-top: 32px;
    margin-bottom: 58px;
}
.mirrors span{
    color: white;
}


.main_description .image{
    background: white;
    margin-top: 100px;
    margin-left: -300px;
}
.main_description .image p{
    transform: translate(65px,-30px);
}
.main_description .image img{
    transform: translate(60px,-60px);
}
.main_description .time_description{
    margin: 84px auto;
}
.time_description .place{
    font-weight: bold;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    color: #454444;
    margin-bottom: 10px;
}
.time_description p{
    text-align: center;
    color: #454444;
}



.main_cards{
    display: flex;
    align-items: center;
    justify-content: center;
}
.card_center{
    width: 300px;
    height: 600px;
    padding:42px 24px;
    box-shadow: 0px 2px 60px rgba(211, 211, 211, 0.5);
    margin-top: -40px;
    background: white;
}
.card_center h1{
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: #2B2B2B;
}
.card_center p:not(.send){
    font-weight: normal;
    margin-top: 24px;
    margin-bottom: 26px;
    font-size: 14px;
    line-height: 22px;
    color: #7F7F7F;
}


.main_send_form{
    display: flex;
    flex-direction: column;
    padding:0 100px;
    margin-top: 80px;
}
.main_send_form > form{
    display: flex;
    margin-top: 20px;
    flex-direction: column;
    align-self: center;
}
.main_send_form h1{
    font-family: Playfair Display;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 67px;
    color: #2B2B2B;
}
.main_send_form p:not(.send_long){
    color: #7F7F7F;
}

.main_profile{
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    padding: 0 100px;
}
.main_profile .description h1{
    font-family: Playfair Display;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 67px;
    color: #2B2B2B;
}
.selector{
    margin-top: 17px;
    display: flex;
    margin-bottom: 28px;
}
.selector p{
    margin-right: 40px;
    padding-bottom: 3px;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #2B2B2B;
    border-bottom: 1px solid white;
}
.selector p:hover{
    color: #7F7F7F;
    border-bottom: 1px solid #FFC5C5;
}
.photos{
    display: flex;
}
.photos > img{
    margin: 0 24px;
    align-self: start;
}
.pair_photo{
    display:flex;
     flex-direction: column;
     align-items: start;
}
.pair_photo .medium{
    margin-bottom: 24px;
}
.top_small .small{
    margin-bottom: 24px;
}



